.mapboxgl-ctrl-attrib-inner {
    display: none;
}

a.mapboxgl-ctrl-logo {
    display: none
}

a.mappopup {
    color: black !important;
    background: white !important;
    text-transform: lowercase !important;
}