/**
SPICE PALETTE
Green: #96A841 #95A841
Red: #BC2822 #BC2822
Orange: #F57D0B #F57D0B
Orange-Light: #F29404
Maroon: #7B261C
Yellow: #FFCB05
Brown: #935D55
Pale-Brown: #E4D7C8
Extra-Pale-Brown: #F3E4D7
Black: #343a40

*/
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #FDFEFD;
}

a {
    color: #F57D0B;
    text-decoration: none;
}

a:active, a:hover {
    color: #F29404;
    text-decoration: underline;
}
.main-page-container {
    padding-bottom: 6em;
}
.page-link {
    color: #F57D0B;
}
.page-link:hover {
    color: #F29404;
}
.page-item.active .page-link {
    color: #FFF;
    background-color: #F29404;
    border-color: #F29404;
}

.spice-header {
    background-color: white;
}

.spice-green {
    color: #F57D0B;
}
.card-header{
  background-color: #F3E4D7;
}
.table-primary, .table-primary > th, .table-primary > td {
    background-color: #E4D7C8;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #95A841;
}

.table-no-top-border > thead > tr:first-child > td,
.table-no-top-border > tbody > tr:first-child > td {
    border: none;
}

.list-group-item.active {
    z-index: 2;
    color: #343a40;
    font-weight: bold;
    background-color: #F3E4D7; /*#00a38740;*/
    border-color: #F3E4D7 /*#00a38740;*/
}

.btn {
    margin-bottom: 4px;
}

.btn-success {
    background-color: #95A841;
    background-image: -moz-linear-gradient(top, #F57D0B, #F29404);
    background-image: -ms-linear-gradient(top, #F57D0B, #F29404);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F57D0B), to(#F29404));
    background-image: -webkit-linear-gradient(top, #F57D0B, #F29404);
    background-image: -o-linear-gradient(top, #F57D0B, #F29404);
    background-image: linear-gradient(top, #F57D0B, #F29404);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F57D0B', endColorstr='#F29404', GradientType=0);

    border-color: #F29404;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active {
  background-color: #F29404;
  background-image: -moz-linear-gradient(top, #F29404, #F29404);
  background-image: -ms-linear-gradient(top, #F29404, #F29404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F29404), to(#F29404));
  background-image: -webkit-linear-gradient(top, #F29404, #F29404);
  background-image: -o-linear-gradient(top, #F29404, #F29404);
  background-image: linear-gradient(top, #F29404, #F29404);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F29404', endColorstr='#F29404', GradientType=0);

  border-color: #F29404;
}
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #DDD;
        border-color: #999;
}

.btn-light {
    color: #212529;
    background: #d9d9d9 linear-gradient(
            180deg, #d9d9d9, #d9d9d9) repeat-x;
    border-color: #f8f9fa;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

ul.alert {
    list-style-type: none;
}

hr {
    background-color: #00a388;
}

h1 {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
h1,h2,h3,h4,h5,h6{
  color: #935D55;
}


.breadcrumb {
    margin-top: 14px;
}

/* Header styles
-------------------------------------------------- */
nav.navbar-spice{
  /* background-color: #7B261C; */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E4D7C8;
    padding: 3.5em;
}

form .form-group ul li {
  color: #F57D0B;
}

.jumbotron{
    padding: 1rem 1rem;
    background-color: inherit;
}
.jumbotron img{
  max-width: 100%;
  max-height: 100%;
}

/* Styles for rendering JSON
----------------------------------------------- */
pre {
    padding: 20px;
    overflow: auto;
    color: #f2f2f2;
    text-shadow: none;
    background: #303030;
}

.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
    font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: lightblue; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }

/* License rendering - card headers
---------------------- */

.card-header-license {
    background-color: #d8d8d8;
}
