<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [

    'db'    => [
            'host'     => 'localhost',
            'port'     => '3321',
            'user'     => 'linkeddatahub',
            'password' => 'password',
            'dbname'   => 'dbname',
            'charset'  => 'utf8mb4'
        ],
    'mkdf-stream'   =>  [
            'user'  =>  'username',
            'pass'  =>  'password',
            'server-url'    =>  'api-factory-server-url',
            'public-url'    =>  'api-factory-web-url'
        ],
    'mkdf-file' => [
            'destination' => 'data/',
        ],
    'mkdf-sparql'   => [
        'rdfjobs-dataset' =>    'dataset',
        'rdfjobs-key' =>        'key'
    ],
];
