<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [

    'db'    => [
            'host'     => 'localhost',
            'port'     => '3321',
            'user'     => 'linkeddatahub',
            'password' => 'password',
            'dbname'   => 'dbname',
            'charset'  => 'utf8mb4'
        ],
    'mkdf-stream'   =>  [
            'user'  =>  'username',
            'pass'  =>  'password',
            'server-url'    =>  'api-factory-server-url',
            'public-url'    =>  'api-factory-web-url',
            'access-requests' => 'access_requests_dataset',
            'dataset-metadata' => 'metadata_dataset'
        ],
    'mkdf-file' => [
            'destination' => 'data/',
        ],
    'mkdf-sparql'   => [
        'rdfjobs-dataset' =>    'dataset',
        'rdfjobs-key' =>        'key'
    ],
    'mkdf-policies'   => [
        'policies-dataset' =>    'policies-dataset',
        'policies-requests-dataset' => 'policies-requests-dataset',
        'policies-key' =>        'policies-key'
    ],
    'notifications' => [
        'notifications-dataset' => 'notifications-dataset',
        'notifications-key' => 'notifications-key',
        //Set 'development' to True to avoid emailing all LDH users. Only users in development-emails will be sent to
        'development' => True,
        'development-emails' => [
            'email1@email.com',
            'email2@email.com'
        ]
    ],
    'email' => [
        'from-email' => 'email address',
        'from-label' => 'email label',
    ],
];
